<div class="container">
  <div class="col-12 col-md-8 offset-md-2">
    <div class="text-center mt-3">
      <h1>Edit task</h1>
      <p>Enter infos.</p>
    </div>

    <%= simple_form_for [@task] do |f| %>
      <%= f.input :title,
                  # label: false,
                  placeholder: "Enter a title for your task*",
                  input_html: { class: "col-12 mb-3" } %>
      <%= f.input :description,
                  as: :text,
                  # label: false,
                  placeholder: "Type a description*",
                  input_html: { class: "col-12 mb-3" } %>
      <%= f.input :priority, as: :range %>
      <%= f.input :deadline, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :finished, as: :radio_buttons %>
      <%= f.submit 'Validate', class: "mt-2 btn btn-primary rounded-pill d-block col-12" %>
    <% end %>
    <div class="text-center">
      <%= link_to "Cancel", root_path, class: 'btn btn-outline-danger rounded-pill col-12 mt-3' %>
    </div>
  </div>
</div>
