<div class="container">
  <div class="col-12 col-md-8 offset-md-2">
    <div class="text-center mt-3">
      <h1>My Tasks</h1>
      <p>Always do your best.</p>
      <% if current_user.tasks.empty? %>
        <p>You have no tasks to do yet. <%= link_to 'Add a task', new_task_path %></p>
      <% else %>
        <ul class="list-unstyled text-left">
          <% @tasks.each do |task| %>
            <a href="/tasks/<%= task.id %>">
              <li>
                <div class="card mb-2">
                  <div class="card-body d-flex flex-row align-items-center">
                    <h5 class="flex-grow-1"><%= task.title.capitalize %></h5>
                    <div class="ml-auto text-right">
                      <% if task.deadline %>
                        <p class="mb-1"><small><strong><i class="far fa-clock"></i> Deadline:</strong><br><%= task.deadline %></small></p>
                      <% end %>
                      <p class="mb-0"><%= link_to "Mark as done", tasks_path %></p>
                    </div>
                  </div>
                </div>
              </li>
            </a>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
