<div class="container">
  <div class="col-12 col-md-8 offset-md-2">
    <div class="text-center mt-3">
      <h1 class="font-weight-bolder">My Tasks</h1>
      <p class="font-weight-light">Let's go! Finish them all 🚀</p>

      <!-- Tasks ToDo -->
      <% if !@tasks.where(finished: false).empty? %>
        <h3 class="text-left mb-3 font-weight-bold">To do <small>(<%= @tasks.where(finished: false).count %>)</small></h3>
          <!-- IF user has tasks -->
          <div data-controller="drag" data-drag-url="/tasks/:id/move">
            <% @todo_tasks.order(position: :asc).each do |task| %>
              <div data-id="<%= task.id %>">
                <a href="/tasks/<%= task.id %>" id="task-<%= task.id %>">
                  <div class="card mb-3 task-list">
                    <div class="p-3 d-flex flex-row align-items-center">

                      <!-- Finish task -->
                      <%= link_to finished_task_path(task), method: :put, remote: true do %>
                        <h1 class="mb-0 mr-3">
                          <i class="fas fa-check-circle finished-button btn-hover"></i>
                        </h1>
                      <% end %>

                      <div class="flex-grow-1">
                        <!-- Task Deadline -->
                        <% if task.deadline %>
                          <div class="mb-2">
                            <p class="mb-1 text-left"><small><strong><i class="far fa-calendar-alt"></i></strong> <%= task.deadline %></small></p>
                          </div>
                        <% end %>
                        <!-- Task title -->
                        <div class="d-flex">
                          <h5 class="mb-0">
                            <%= link_to task.title.capitalize, task_path(task) %>
                          </h5>

                          <div style="margin-top: -10px; margin-left:5px">
                            <small><span class="badge badge-primary"><%= task.priority %></span></small>
                          </div>
                        </div>
                      </div>

                      <div class="ml-auto">
                        <div>
                            <!-- Edit task -->
                            <%= link_to edit_task_path(task) do %>
                              <i class="fas fa-pencil-alt text-warning btn-hover mr-2"></i>
                            <% end %>
                            <!-- Delete task -->
                            <%= link_to task_path(task), data: {confirm: "Are you sure?"}, remote: true, :method => :delete do %>
                              <i class="fas fa-trash-alt text-danger btn-hover"></i>
                            <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>
          </div>
      <% else %>
        <div class="card card-body py-3 mb-3">
          <h6 class="text-left mb-0"><i class="fas fa-exclamation-circle text-warning mr-2"></i> No task to do! <%= link_to "Add some tasks", tasks_path(anchor: 'new-task') %></h6>
        </div>
      <% end %>

      <!-- New task form -->
      <div class="card card-body pb-0 task-list" id="new-task">
        <%= simple_form_for([@task], remote: true) do |f| %>
          <h5 class="text-left mb-3">New task</h5>
          <div class="d-flex mx-0 px-0">
            <div class="col-6 pl-0">
              <%= f.input :title,
                          label: false,
                          required: true,
                          placeholder: "Enter a title*",
                          input_html: { class: "mb-3" } %>
            </div>
            <div class="col-3 pl-0">
              <%= f.input :priority,
                          required: false,
                          label: false,
                          collection: 1..5,
                          prompt: "Priority",
                          placeholder: "Priority",
                          input_html: {class: "flex-grow-1"} %>
            </div>
            <div class="col-3 pr-0 pl-0">
              <%= f.input :deadline,
                          label: false,
                          as: :string,
                          required: false,
                          placeholder: "Deadline",
                          input_html: {class: "datepicker"} %>
            </div>
          </div>
          <%= f.input :description,
                  as: :text,
                  required: false,
                  label: false,
                  placeholder: "Type a description",
                  input_html: { class: "col-12 mb-3" } %>

          <%= f.submit 'Validate',
                        class: "mt-2 mb-4 btn btn-primary rounded-pill d-block col-12" %>
        <% end %>
      </div>


      <!-- Finished task -->
      <% if !@tasks.where(finished: true).empty? %>
        <hr class="mt-4 mb-4">
        <h5 class="text-left my-3" style="opacity:.7">Finished tasks <small>(<%= @tasks.where(finished: true).count %>)</small></h5>
        <ul class="list-unstyled text-left"> <!-- IF user has tasks -->
          <% @finished_tasks.each do |task| %>
            <li>
              <a href="/tasks/<%= task.id %>" id="task-<%= task.id %>">
                <div class="card mb-2 task-list">
                  <div class="p-3 d-flex flex-row align-items-center">

                    <!-- Undo Finished task -->
                    <%= link_to undo_finished_task_path(task), method: :put, remote: true do %>
                      <h5 class="mb-0 mr-3">
                        <i class="fas fa-undo undo-finished-button btn-hover"></i>
                      </h5>
                    <% end %>

                    <div class="flex-grow-1">
                      <!-- Task title -->
                      <p class="mb-0"><%= link_to task.title.capitalize, task_path(task) %></p>
                    </div>

                    <div class="ml-auto">
                      <div>
                        <!-- Delete task -->
                        <%= link_to task_path(task), data: {confirm: "Are you sure?"}, remote: true, :method => :delete do %>
                          <i class="fas fa-trash-alt text-danger btn-hover"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>
  </div>
</div>
