<div class="container">
  <div class="col-12 col-md-8 offset-md-2">
    <div class="text-center mt-3">
      <h1>My Tasks</h1>
      <p>Always do your best.</p>

      <% if current_user.tasks.empty? %> <!-- IF user has NO tasks -->
        <p>You have no tasks to do yet.</p>
      <% else %>
        <ul class="list-unstyled text-left"> <!-- IF user has tasks -->
          <% @tasks.each do |task| %>
            <li>
              <a href="/tasks/<%= task.id %>" id="task-<%= task.id %>">
                <div class="card mb-2">
                  <div class="p-3 d-flex flex-row align-items-center">

                    <!-- Finish task -->
                    <%= link_to tasks_path, remote: true do %>
                      <h1 class="mb-0 mr-3">
                        <i class="fas fa-check-circle finished-button"></i>
                      </h1>
                    <% end %>

                    <div class="flex-grow-1">
                      <!-- Task Deadline -->
                      <% if task.deadline %>
                        <div class="mb-2">
                          <p class="mb-1"><small><strong><i class="far fa-clock"></i> Deadline:</strong> <%= task.deadline %></small></p>
                        </div>
                      <% end %>
                      <!-- Task title -->
                      <h5><%= link_to task.title.capitalize, task_path(task)  %></h5>
                    </div>

                    <div class="ml-auto">
                      <div class="mb-3">
                          <!-- Edit task -->
                          <%= link_to edit_task_path(task) do %>
                            <i class="fas fa-pencil-alt mr-2"></i>
                          <% end %>
                          <!-- Delete task -->
                          <%= link_to task_path(task), data: {confirm: "Are you sure?"}, remote: true, :method => :delete do %>
                            <i class="fas fa-trash-alt"></i>
                          <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>

      <hr class="mt-5">

      <!-- New task form -->
      <%= simple_form_for([@task], remote: true) do |f| %>
        <h5 class="text-left mb-3">New task</h5>
        <div class="d-flex mx-0 px-0">
          <div class="col-6 pl-0">
            <%= f.input :title,
                        label: false,
                        placeholder: "Enter a title*",
                        input_html: { class: "mb-3" } %>
          </div>
          <div class="col-3 pl-0">
            <%= f.input :priority,
                        label: false,
                        collection: 1..5,
                        prompt: "Priority",
                        placeholder: "Priority",
                        input_html: {class: "flex-grow-1"} %>
          </div>
          <div class="col-3 pr-0 pl-0">
            <%= f.input :deadline,
                        label: false,
                        as: :string,
                        required: false,
                        placeholder: "Deadline",
                        input_html: {class: "datepicker"} %>
          </div>
        </div>

        <%= f.submit 'Validate',
                      class: "mt-2 mb-5 btn btn-primary rounded-pill d-block col-12" %>
      <% end %>

    </div>
  </div>
</div>
