<div class="container">
  <div class="col-12 col-md-8 offset-md-2 task-form">
    <div class="text-center mt-3">
      <h1 class="font-weight-bold">New task</h1>
      <p class="font-weight-light">Enter infos.</p>
    </div>

    <%= simple_form_for([@task], remote: true) do |f| %>
      <%= f.input :title,
                  placeholder: "Enter a title for your task*",
                  input_html: { class: "col-12 mb-3" } %>
      <%= f.input :description,
                  as: :text,
                  # label: false,
                  placeholder: "Type a description",
                  input_html: { class: "col-12 mb-3" } %>
      <div class="d-flex mx-0 px-0">
        <div class="col-6 pl-0">
          <%= f.input :priority,
                      collection: 1..5,
                      prompt: "Select priority",
                      selected: 1,
                      input_html: {class: "flex-grow-1"} %>
        </div>
        <div class="col-6 pr-0">
          <%= f.input :deadline,
                      as: :string,
                      placeholder: "Enter due date",
                      required: false,
                      input_html: {class: "datepicker"} %>
        </div>
      </div>

      <%= f.submit 'Validate', class: "mt-2 btn btn-primary rounded-pill d-block col-12" %>
    <% end %>
    <div class="text-center">
      <p class="mt-3"><%= link_to "Cancel", root_path, class: 'text-danger text-decoration-none rounded-pill col-12 mt-3' %></p>
    </div>
  </div>
</div>
