<div class="container">
  <div class="col-12 col-md-8 offset-md-2 text-center">
    <div class="card mt-3">
      <div class="card-body">
        <h3 class="card-title">
          <%= @task.title.upcase %>
        </h3>
        <p class="card-content">
          <%= @task.description %>
        </p>

        <% if @task.priority? %>
          <p><strong>priority:</strong> <%= @task.priority %></p>

        <% end %>

        <% if @task.deadline? %>
          <p><strong>Deadline:</strong> <%= @task.deadline %></p>
        <% else %>
          <p><strong>Deadline:</strong> Not set.</p>
        <% end %>

        <% if @task.finished? %>
          <p><strong>Status:</strong> Task is finished.</p>
        <% else %>
          <p><strong>Status:</strong> Unfinished.</p>
        <% end %>

        <%= link_to "Update", edit_task_path(@task) %> | 
        <%= link_to "Delete", task_path(@task), data: {confirm: "Are you sure?"}, remote: true, :method => :delete %>
      </div>
    </div>
    <div class="comments">
      <h4 class="text-left mt-3">Comments</h4>
      <% @task.comments.each do |comment| %>
        <div class="comment card mb-1" id="comment-<%= comment.id %>">
          <div class="card-body">
            <%= comment.content %>
            <p style="mb-0"><small><strong>Added:</strong><%= comment.created_at %></small></p>
            <%= link_to "Delete comment", task_comment_path(@task.id, comment.id), remote: true, :method => :delete %>
          </div>
        </div>
      <% end %>

      <%= simple_form_for([@task, @comment], remote:true) do |f| %>
        <h6 class="text-left mt-3 font-weight-bold">Add a comment</h6>
        <%= f.input :content,
                  as: :text,
                  label: false,
                  placeholder: "Type your comment",
                  input_html: { class: "col-12 mb-3" } %>
        <div class="text-right">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
